PORT=5000
# MONGODB_URI=mongodb://localhost:27017/fffdms
MONGODB_URI=mongodb+srv://antig7452:antig7452@cluster0.jawxw1p.mongodb.net/ABC_FMS?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=dixxhk7pj
CLOUDINARY_API_KEY=246328468846236
CLOUDINARY_API_SECRET=cOMfN5vexTepyu_ZbYEBTmAJ9ZI

OWNER_USERNAME=admin
OWNER_PASSWORD=Admin@12345

